:root{
	--header-color: rgba(0, 191, 255, 1);
	--accent-color: rgba(0, 255, 161, 1); 
	--bg-color: rgba(255, 255, 100, 1);
	--bg-accent: rgba(255, 236, 33, 1) ;
	--content-color: rgba(191, 223, 255, 1);
	--content-accent: rgba(157, 191, 225, 1);
	--font-color: rgba(255, 255, 57, 1);
	--font-accent: rgba(0, 108, 255, 1);
}

body{
	font-family: "Comic Sans MS";
	background-color: var(--bg-color);
}

.wrapper{
	width: 80%;
	margin: auto;
	border: 8px ridge var(--bg-accent);
	background-color: white;
}

header{
	display: inline-block;
	width: 100%;
	padding-top: 5px;
	padding-left: 20px;
	box-sizing: border-box;
	font-family: "Slackey", "Comic Sans MS", "sans serif";
	text-align: left;
	background-color: var(--header-color);
}

header h1, header h3{
	color: var(--font-color);
}

img {
	max-width: 100%;
	max-height: auto;
}

nav ul {
	list-style-type: none;
	padding:0px;
	margin: 0px;
	display: flex;
	flex-direction: row;
}
 
nav li { 
	flex: 0 1 20%;
	padding: 10px;
	text-align: center;
	background-color: var(--accent-color);
}

nav li a {
	text-decoration: none;
	font-size: auto;
}

main{
	display: flex;
	margin: 20px 5px;
	justify-content: space-evenly;
}

.content{
	flex: 0 1 60%;
	background-color: var(--content-color);
}

.icon{
	max-width: 20px;
	float: right;
}

.banner{
	flex: 0 1 30%;
	background-color: var(--content-color);
	padding-left: 10px;
}

footer{
	text-align: center;
	background-color: var(--accent-color);
}
