:root{
	--header-color: rgba(0, 191, 255, 1);
	--accent-color: rgba(0, 255, 161, 1); 
	--bg-color: rgba(255, 255, 100, 1);
	--bg-accent: rgba(255, 236, 33, 1) ;
	--content-color: rgba(191, 223, 255, 1);
	--content-accent: rgba(157, 191, 225, 1);
	--font-color: rgba(255, 255, 57, 1);
	--font-accent: rgba(0, 108, 255, 1);
}

body{
	font-family: "Comic Sans MS";
	background-color: var(--bg-color);
}

@media all and (min-width: 300px){
	
	.wrapper{
		width:80%vw;
		margin: auto;
		border: 8px ridge var(--bg-accent);
		
		display: grid;
		grid-template-rows: 150px auto auto 20px;
		grid-template-columns: auto auto;
		grid-template-areas:
			"head head"
			"nav nav"
			"main main"
			"foot foot";
	}
	
}

@media screen and (min-width: 600px){
	
	.wrapper{
		width: 80%vw;
		margin: auto;
		border: 8px ridge var(--bg-accent);
		
		display: grid;
		grid-template-rows: auto auto auto auto;
		grid-template-columns: auto auto;
		grid-template-areas:
			"head head"
			"nav nav"
			"main main"
			"foot foot";
	}
	
}

header{
	grid-area: head;
	font-size: 4vw;
	padding-left: 1vw;
	font-family: "Slackey", "Comic Sans MS", "sans serif";
	color: var(--font-color);
	background-color: var(--header-color);
	background-image: url(../Assets/bg.gif);
	background-size:100vw;
}

header h1, header h3 {
	margin: 1vw;
	text-shadow: 1vw 1vw 1vw blue;
}

nav{
	grid-area: nav;
	font-size: 2.5vw;
	text-align: center;
	font-family: "Slackey", "Comic Sans MS", "sans serif";
	background-color: var(--accent-color);
}

nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0px;
	margin: 0px;
}

nav ul li{
	flex: 0 1 20%;
	padding-top:1vw;
	list-style-type: none;
	background-color:var(--accent-color);
}

nav ul li a {
	display: block;
	text-decoration: none;
	padding: 1vw;
}

@keyframes scaleUp{
	from{ transform: scale(1,1);
		box-shadow: 0px 0px var(--header-color);
		}
	to { transform: scale(1.05, 1.05);
		box-shadow: 0vw 0.5vw 0.5vw var(--header-color);
	}
}

nav ul li:hover{
	animation-name: scaleUp;
	animation-duration: 1s;
	transform: scale(1.05,1.05);
	box-shadow: 0vw 0.5vw 0.5vw var(--header-color);
}
nav ul li:active{
	background-color:var(--header-color);
}

nav ul li a:visited{
	color: var(--header-color);
}

main{
	grid-area: main;
	display: flex;
	background-color: white;
}

.content{
	flex: 0 1 80%;
	background-color:var(--content-color);
	padding: 1vw;
	font-size: 3vw;
}


.banner{
	flex: 0 1 20%;
	background-color: var(--content-accent);
	font-size: 1vw;
	padding: 1vw;
}

footer{
	grid-area: foot;
	text-align: center;
	font-size: 1.75vw;
	background-color: var(--header-color);
}
