:root{
	--header-color: yellow;
	--font-color: "#ffc152";
	--bg-color: "#a3d3c3";
}

body{
	font-family: "Comic Sans MS";
}

#content{
	padding: 10px 20px;
	border: 10px ridge Orange;
	background-color: var(--bg-color);
	background-image: url(../Assets/bg.jpg);
}

.container {
	display: flex;
	background-color: rgba(250,250,250,0.75);
	flex-direction: row;
	flex-wrap: wrap;
}

.container img{
	margin-top: 10px;
	height: 200px;
	flex: 0 1 20%;
}

.container h1{
	color: var(--header-color);
	font-size: 3rem;
	margin-top: 60px;
	margin-left: 10px;
	flex: 0 1 60%;
}
.container h3{
	font-size: 2rem;
	color: #13c446;
	background-color: pink;
	border: 5px ridge orange;
	padding: 10px;
	text-align: center;
	margin-left: 20px;
	flex: 0 1 20%;
}

a:link{
	color: white;
}

a:visited{
	color: white;
}

a:hover{
	color: yellow;
}


a:active{
	color: green;
}

nav ul{
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	padding: 10px;
}

nav li {
	flex: 0 1 22%;
	font-size: 30px;
	background-color: blue;
	padding: 10px;
	text-align: center;
	border: 5px ridge Orange;
}

nav li a {
	text-decoration: none;
	background-color: blue;
}

main{
	display: flex;
	flex-direction: row;
	background-color: rgba(255,255,255,0.75);
}

#page{ 
	flex: 0 1 80%;
	padding: 20px;
	background-color: #ffff78;
	margin: 20px;
}

#banner{
	flex: 0 1 20%;
	margin: 20px;
	background-color: #ffff78;
}

#banner div{
	margin: 20px;
	background-color: rgba(255,255,205);
	padding: 10px 20px;
}